{% extends 'booking/base.html' %} 

{% block content %} 

<div class="container mx-auto py-2 md:py-6 md:px-20 text-center">

    <h1 class=" text-2xl font-semibold sm:font-bold sm:text-3xl md:mb-4">Thanks for creating a spot!</h1>
    <p class="p-2 md:px-8 md:py-4 sm:text-center text-md font-light">Check if you created the spot correctly.</p>
    
    <!-- Display Date, Time, Location, Name, E-Mail -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 gap-x-4 sm:gap-y-8 p-1 md:p-12">
        <div class="col-span-1 bg-white rounded text-green-800 p-1 grid grid-rows-1"><span class="text-md font-semibold">{{object.host_username.first_name}}</span><span class="text-sm">{{object.host_username}}</span></div>
        <div class="col-span-1 bg-white rounded text-green-800 p-1 grid grid-rows-1"><span class="text-md font-semibold">Date</span><span class="text-sm">{{object.date}}</span></div>
        <div class="col-span-1 bg-white rounded text-green-800 p-1 grid grid-rows-1"><span class="text-md font-semibold">Time</span><span class="text-sm">{{object.time_start}} - {{object.time_end}}</span></div>
        <div class="col-span-1 bg-white rounded text-green-800 p-1 grid grid-rows-1"><span class="text-md font-semibold">Available seats</span><span class="text-sm">{{object.av_seats}}</span></div>
        <a href="{% url 'booking:profile' %}" class="col-span-1 md:col-span-1 mt-4 text-white bg-yellow-200 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-400 rounded text-md">Go back to profile.</a>
        <a href="{% url 'booking:create_booking' object.id %}" class="col-span-1 mt-4 text-white bg-green-400 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-md">Book yourself a spot.</a>
    </div>

</div>



{% endblock %}