{% extends 'booking/base.html' %} 
{% block content %} 

<div class="mx-20 lg:mx-32 mt-8 py-4 bg-white rounded divide-y-2 divide-green-800 divide-solid">
    <h1 class="col-span-1 md:col-span-2 xl:col-span-3 text-center text-2xl font-bold">Open a coworking spot.</h1>
    <form method="post" class="pt-4 px-12 grid grid-cols-3 space-y-8">
        {% csrf_token %}  
        {% load widget_tweaks %}



        <h3 class="col-span-1 text-center p-4 font-semibold leading-wide">Select a date</h3>
        {% render_field form.date type="date" class="col-span-2 p-2 border border-solid rounded-md" %}

        <h3 class="col-span-1 text-center p-4 font-semibold leading-wide">When to start?</h3>
        {% render_field form.time_start type="time" class="col-span-2 p-2 border border-solid rounded-md" %}
        <h3 class="col-span-1 text-center p-4 font-semibold leading-wide">When to end?</h3>
        {% render_field form.time_end type="time" step="600" class="col-span-2 p-2 border border-solid rounded-md" %}

        <h3 class="col-span-1 text-center p-4 font-semibold leading-wide">How many seats are available?</h3>
        {% render_field form.av_seats class="col-span-2 p-2 border border-solid rounded-md" %}

        <input type="submit" class="col-span-3" value="Create a coworking slot.">
    </form>

</div>

{% endblock %}