{% extends 'booking/base.html' %} 

{% block content %}  

    <div class="container pt-4 px-12">

        <form method="post" class="px-12 grid grid-cols-3 space-y-8">

            {% csrf_token %}  
            {% load widget_tweaks %}
            <h3 class="col-span-3 text-center pt-4 font-semibold leading-wide">Delete your slot</h3>
            <h3 class="col-span-3 text-center text-md pt-2 font-semibold leading-wide">You cannot take this back. Everybody's booking for this slot is deleted as well.</h3>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 gap-x-4 sm:gap-y-8 p-1 md:pt-12 md:px-12">
                    <!-- <div class="col-span-1 bg-white rounded text-green-800 p-1 grid grid-rows-1"><span class="text-md font-semibold">{{view.slot.host_username.first_name}} {{view.slot.host_username.last_name}}</span><span class="text-sm">{{view.slot.host_username}}</span></div> -->
                    <div class="col-span-1 bg-white rounded text-green-800 p-1 grid grid-rows-1"><span class="text-md font-semibold">Date</span><span class="text-sm">{{object.date}}</span></div>
                    <div class="col-span-1 bg-white rounded text-green-800 p-1 grid grid-rows-1"><span class="text-md font-semibold">Time</span><span class="text-sm">{{object.time_start}} - {{object.time_end}}</span></div>
                </div>
            <input type="submit" class="col-span-3" value="Delete this Slot permanently.">
        </form>
    </div>
    


{% endblock %}