{% extends 'booking/base.html' %} 
{% block content %} 

<!-- <div class="flex justify-center mt-2">
    <div class="bg-white p-1 text-center flex justify-between content-center w-2/3">
        <div class="mt-4 grid gird-cols-2">
            <h1 class="text-center text-lg tracking-wide col-span-2">Hallo Finn Marv Schuzle</h1>
            <span class=" italitc text-sm tracking-wide col-span-2">Morvme</span>
            <span class=" text-sm tracking-tight col-span-2">finnmarvinschulze@gmail.com</span>
        </div>
        
    </div>
</div> -->

<div class="container px-5 py-24 mx-auto flex flex-wrap content-center">
    <div class="md:w-3/5 md:pl-6">
        <p class="leading-relaxed text-base">Taxidermy bushwick celiac master cleanse microdosing seitan. Fashion axe four dollar toast truffaut, direct trade kombucha brunch williamsburg keffiyeh gastropub tousled squid meh taiyaki drinking vinegar tacos.</p>
        <div class="flex md:mt-4 mt-6">
            <button class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
            <a class="text-indigo-500 inline-flex items-center ml-4">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </div>

        <div class="w-2/5">
            <div class="bg-gray-400 rounded-full w-16 h-16"></div>
            <span class="mt-4 text-sm italic tracking-snug">Change picture.</span>
        </div>

</div>
{% endblock %}
