{% extends 'booking/base.html' %} 
{% block content %} 


<div class="mx-20 lg:mx-32 mt-8 py-4 bg-white rounded divide-y-2 divide-green-800 divide-solid">
    <!-- Navbar -->
    <nav class="w-full px-12 py-3 text-sm text-semibold text-center flex justify-between  ">
        <a href="" class="text-green-900">{{user_info.nickname}}</a>
        <div class="space-x-2">
            <a href="{% url 'booking:add_profile_info' user_info.id %}" class="">Edit Profile</a>
            <a href="{% url 'login:logout' %}" class="text-red-400">Logout</a>
        </div>
    </nav>
    <!-- Description & Image -->
    <div class="grid grid-cols-2 justify-items-center gap-x-8 mt-4 py-2 ">
        <div class="col-span-1 flex flex-wrap items-center content-center">
            <span class="text-lg tracking-wide text-center w-full">Hallo {{user.first_name}} {{user.last_name}}.</span>
            <!-- <span class="text-sm italic text-center w-full">Here is space for your self description. <p class="underline">Add now.</p></span> -->
            <span class="text-sm italic text-center w-full">
                {% if user_info.description %}
                    {{user_info.description}}
                {% else %} 
                    <a href="{% url 'booking:add_profile_info' user_info.id %}">Here is space for your self description. <p class="underline">Add now.</p></a> 
                {% endif %}
            </span>
        </div>
        <div class="col-span-1  flex flex-col items-center">
            <div class="w-24 h-24 bg-gray-200 rounded-full"></div>
            <span class="text-sm italic">
                {% if user_info.profile_image %}
                    {{user_info.profile_image}}
                {% else %} 
                    <a href="{% url 'booking:add_profile_info' user_info.id  %}">Want to <span class="underline">add a picture</span>?</a>
                {% endif %}
            </span>
        </div>
    </div>
    <!-- Create or Book a spot -->
    <div class="flex justify-center space-x-8 py-8 px-12">
        <a href="{% url 'booking:create_slot' %}" class="flex-1 bg-green-100 rounded shadow-md py-6 hover:bg-green-300 cursor-pointer text-lg text-center tracking-wide">Create a Coworking spot.</a>
        <a href="{% url 'booking:slot_list_view' %}" class="flex-1 bg-green-100 rounded shadow-md py-6 hover:bg-green-300 cursor-pointer text-lg text-center tracking-wide">Find and book a Coworking spot.</a>
    </div>


    <!-- Future meetings -->
    <div class="mx-auto px-2 py-4 pt-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-y-4 md:gap-8 xl:gap-12 xl:mx-20">
        <h1 class="col-span-1 md:col-span-2 xl:col-span-3 text-center text-2xl font-bold">Your future meetings:</h1>
        {% for booking in bookings %} 
            <div class="col-span-1 bg-white rounded-lg shadow-xl text-center py-2 ">
                <h1 class="text-2xl font-bold">{{booking.booking.host_slot.date}}</h1>
                <h1 class="text-1xl font-semibold">@{{booking.booking.host_slot.host_username}}</h1>
                <h3 class="text-lg tracking-widest">{{booking.booking.host_slot.time_start}} - {{booking.booking.host_slot.time_end}}</h3>
                <h4 class="text-sm italic">5 seats available</h4>
                <div class="grid grid-cols-1 p-2 gap-2 mt-4">
                    {% for cowo in booking.other_cowos %}
                        <div class="col-span-1 p-1 text-sm text-gray-600 tracking-tight border rounded bg-green-50">{{cowo.first_name}} {{cowo.last_name}} ({{cowo.time_start}} - {{cowo.time_end}})</div>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <h1 class="col-span-1 md:col-span-2 xl:col-span-3 text-center text-xl font-semibold">Nothing to show here.</h1>
        {% endfor %}
    </div>
</div>

{% endblock %}
