{% extends 'booking/base.html' %} 
{% block content %} 

<div class="mx-20 lg:mx-32 mt-8 py-4 bg-white rounded">
    <!-- Navbar -->
    <nav class="w-full px-12 py-3 text-sm text-semibold text-center flex justify-between border-b-2 border-solid border-gray-900 ">
        <a href="" class="text-green-900">{{user.nickname}}</a>
        <div class="space-x-2">
            <a href="" class="">Edit Profile</a>
            <a href="{% url 'login:logout' %}" class="text-red-400">Logout</a>
        </div>
    </nav>
    <!-- Description & Image -->
    <div class="grid grid-cols-2 justify-items-center gap-x-8 mt-4 py-2 border-b-2 border-solid border-gray-600">
        <div class="col-span-1 flex flex-wrap items-center content-center">
            <span class="text-lg tracking-wide text-center w-full">Hallo {{user.first_name}}.</span>
            <!-- <span class="text-sm italic text-center w-full">Here is space for your self description. <p class="underline">Add now.</p></span> -->
            <span class="text-sm italic text-center w-full">
                {% if user.description %}
                    {{user.description}}
                {% else %} 
                    Here is space for your self description. <p class="underline">Add now.</p>
                {% endif %}
            </span>
        </div>
        <div class="col-span-1  flex flex-col items-center">
            <div class="w-24 h-24 bg-gray-200 rounded-full"></div>
            <span class="text-sm italic">
                {% if user.profile_image %}
                    {{user.profile_image}}
                {% else %} 
                    Want to <span class="underline">add a picture</span>?
                {% endif %}
            </span>
        </div>
    </div>
    <!-- Future meetings -->
    <div class="mx-auto px-2 py-4 pt-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-y-4 md:gap-8 xl:gap-12 xl:mx-20">
        <h1 class="col-span-1 md:col-span-2 xl:col-span-3 text-center text-2xl font-bold">Your future meetings:</h1>
        <div class="col-span-1 bg-white rounded-lg shadow-xl text-center py-2 ">
            <h1 class="text-2xl font-bold">12.07.2021</h1>
            <h1 class="text-1xl font-semibold">@Leon Wiesemann</h1>
            <h3 class="text-lg tracking-widest">10:00 - 18:00</h3>
            <h4 class="text-sm italic">5 seats available</h4>
            <div class="grid grid-cols-1 p-2 gap-2 mt-4">
                <div class="col-span-1 p-1 text-sm text-gray-600 tracking-tight border rounded bg-green-50">Finn Marvin Schulze</div>
                <div class="col-span-1 p-1 text-sm text-gray-600 tracking-tight border rounded bg-green-50">Leon Scholz</div>
            </div>
        </div>
        <div class="col-span-1 bg-white rounded-lg shadow-xl text-center py-2 ">
            <h1 class="text-2xl font-bold">12.07.2021</h1>
            <h1 class="text-1xl font-semibold">@Leon Wiesemann</h1>
            <h3 class="text-lg tracking-widest">10:00 - 18:00</h3>
            <h4 class="text-sm italic">5 seats available</h4>
            <div class="grid grid-cols-1 p-2 gap-2 mt-4">
                <div class="col-span-1 p-1 text-sm text-gray-600 tracking-tight border rounded bg-green-50">Finn Marvin Schulze</div>
                <div class="col-span-1 p-1 text-sm text-gray-600 tracking-tight border rounded bg-green-50">Leon Scholz</div>
            </div>
        </div>
        <div class="col-span-1 bg-white rounded-lg shadow-xl text-center py-2 ">
            <h1 class="text-2xl font-bold">12.07.2021</h1>
            <h1 class="text-1xl font-semibold">@Leon Wiesemann</h1>
            <h3 class="text-lg tracking-widest">10:00 - 18:00</h3>
            <h4 class="text-sm italic">5 seats available</h4>
            <div class="grid grid-cols-1 p-2 gap-2 mt-4">
                <div class="col-span-1 p-1 text-sm text-gray-600 tracking-tight border rounded bg-green-50">Finn Marvin Schulze</div>
                <div class="col-span-1 p-1 text-sm text-gray-600 tracking-tight border rounded bg-green-50">Leon Scholz</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
